@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  background-color: whitesmoke;
}

header{
  display: inline-block;
  text-align: center;
  background-color: #B71B67;
  width: 100%;
  height: auto;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

header h1{
  font-size: 2.5rem;
  font-weight: bold;
  margin: 2rem 0 0.2rem;
}

header h4{
  margin-bottom: 4rem;
}

.icons-container{
  display: flex;
  gap: 4.5rem;
  justify-content: center;
}

.icons-container a{
  text-decoration: none;
  color: white;
}

.icons-container a i{
  margin-bottom: 2rem;
  font-size: 4rem;
}

.me{
  margin: 2.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.me p{
  font-size: 1.3rem;
  padding: 2rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8rem;
  color: whitesmoke;
  background-color: #0F0F0F;
  border-radius: 4%;
}

.divisor{
  background-color: #B71B67;
  width: 100%;
  height: 4rem;
}

.technologies{
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.technologies h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
  background-color: #0F0F0F;
  width: 80%;
  border-radius: 2%;
}

.card{
  height: 6rem;
}

.cards-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.7rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.cards-container .card{
  width: 7.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  min-height: 7rem;
  max-height: 10rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: 2px solid #B71B67;
}

.cards-container .card img{
  width: 70%;
  height: 80%;
}

.cards-container .boots-logo{
  margin-top: 1.1rem;
  height: 3rem !important;
}

.cards-container .node-logo{
  margin-top: 0.8rem;
  height: 2.7rem !important;
}

.cards-container .exp-logo{
  margin-top: 1.4rem;
  height: 1.4rem !important;
}